<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TakuCityPop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
</head>
<body class="container d-flex h-100 flex-column">
    <header id="banner" class="row">
        <div class=col-6>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="col-xm-12">
                <img src="~/img/taku_pl.jpg" alt="logo" id="logo">
            </a>
        </div>
        <nav class="col">  
            <div class="row">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="col-xm-12 col-md-6 col-lg-3">Principal</a>
                <a asp-area="" asp-controller="Home" asp-action="Sobre" class="col-xm-12 col-md-6  col-lg-3">Sobre</a>
                <a asp-area="" asp-controller="Home" asp-action="Cadastro" class="col-xm-12 col-md-6  col-lg-3">Cadastro</a>
                <a asp-area="" asp-controller="Home" asp-action="Lista" class="col-xm-12 col-md-6  col-lg-3">Lista</a>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3 row flex-fill d-flex justify-content-start" id="centro">
        @RenderBody()
    </main>

    <footer class="row">
        <p class="col-12">&copy; 2020 - Taku's Citypop - takucitypop@voidmail.com</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
