@{
    ViewData["Title"] = "Principal";
}

<div class="col-12">
    <div class="row">
        <h2 class="col-12">Principal</h2>
    </div>
    <div class="row bloco mx-3" id="capas-div">
        <a href="https://www.youtube.com/watch?v=4Hvvltt7d-U" target="_blank" class="capas col-xm-12 col-md-6 col-lg-3 text-center">
            <img src="img/casiopea.jpg" alt="casiopea">
        </a>
        <a href="https://www.youtube.com/watch?v=01e7YNBpJfc" target="_blank" class="capas col-xm-12 col-md-6 col-lg-3 text-center">
            <img src="img/miki.jpg" alt="miki matsubara">
        </a>
        <a href="https://www.youtube.com/watch?v=DYVDrsCoCkI" target="_blank" class="capas col-xm-12 col-md-6 col-lg-3 text-center">
            <img src="img/omega.jpg" alt="omega tribe">
        </a>
        <a href="https://www.youtube.com/watch?v=n0sAPAxFP-4" target="_blank" class="capas col-xm-12 col-md-6 col-lg-3 text-center">
            <img src="img/toshiki.jpg" alt="toshiki kadomatsu">
        </a>
    </div>
    
    <div class="row bloco mx-3">
        <p class="paragrafo mx-4">City Pop (シ テ ィ ・ ポ ッ プ) é uma categoria de música pop japonesa que surgiu no final dos anos 1970 e atingiu o pico nos anos 1980. Foi originalmente denominado como um desdobramento da "nova música" com influência ocidental do Japão, mas passou a incluir uma ampla gama de estilos associados ao crescimento econômico nascente, como AOR, soft rock, R&B, funk e boogie . Ele também foi associado com novas tecnologias, como o Walkman, carros com toca-fitas embutidos e aparelhos de som FM e vários instrumentos musicais eletrônicos.</p>
    </div>
</div>
