@{
    ViewData["Title"] = "Principal";
}
<h2>Principal</h2>
<div>
<img src="img/casiopea.jpg" alt="casiopea" class="capas">
<img src="img/miki.jpg" alt="miki matsubara" class="capas">
<img src="img/omega.jpg" alt="omega tribe" class="capas">
<img src="img/toshiki.jpg" alt="toshiki kadomatsu" class="capas">
</div>

<div>
    <p>City Pop (シ テ ィ ・ ポ ッ プ) é uma categoria de música pop japonesa que surgiu no final dos anos 1970 e atingiu o pico nos anos 1980. Foi originalmente denominado como um desdobramento da "nova música" com influência ocidental do Japão, mas passou a incluir uma ampla gama de estilos associados ao crescimento econômico nascente, como AOR, soft rock, R&B, funk e boogie . Ele também foi associado com novas tecnologias, como o Walkman, carros com toca-fitas embutidos e aparelhos de som FM e vários instrumentos musicais eletrônicos.</p>
</div>
