@{
    ViewData["Title"] = "Sobre";
}


<div class="col-12">
    <div class="row">
        <h2 class="col-12">Sobre</h2>
    </div>
    <div class="row bloco mx-3">
        <p class="paragrafo mx-4">O Servidor Taku's CityPop é o melhor lugar para compartilhar e discutir música J-pop e City-Pop dos anos 70, 80 e 90 com outros membros em um ambiente descontraído e canais para encontrar novas músicas no gênero ou até mesmo músicas semelhantes ao City-Pop de outros países.</p>
    </div>
    <div class="row bloco mx-3">
        <p class="paragrafo mx-4">O que nós oferecemos: </p>
        <ul id="sobre" class="mx-4">
            <li>Cargos por níveis com base no gênero City-Pop para você ganhar sendo ativo no servidor. </li>
            <li>Muitos emotes de cantores City-Pop para você usar, que nós criamos. Também temos um canal de sugestões de emoticons caso você queira adicionar um emote ao servidor.</li>
            <li>Servidor de música de mais de 600 membros, no entanto, os membros muito ativos e tranquilos. </li>
            <li>Eventos frequentes como aqueles onde você pode entrar e colocar música no bot e ouvir música conosco. O canal de voz também é silenciado para todos os usuários. Então você pode ouvir música em paz.</li>
            <li>Nossa própria comunidade criou uma playlist de City-Pop no YouTube, tudo feito com a ajuda dos membros do nosso servidor! Então, se você sempre quis uma playlist City-Pop para reproduzir aleatoriamente, nós a temos! </li>
            <li>Eventos semanais onde os usuários participam de um evento chamado "Adivinhe o City-Pop", onde você ouve um pequeno trecho de uma música. Então você deve adivinha qual cantor é e de que álbum é. </li>
        </ul>
    </div>
</div>
