:root{
  --color0: rgb(48, 47, 47);
  --color1: #1f2124;
  --color2: #1f212470;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  position: relative;
  height: 100%;
}

body{
  height: 100%;
  background-color: var(--color0);
}

#banner{
  padding: 20px;
  background: var(--color1);
  font-size: 1em;
  max-width: 1200px;
  max-height: 40%;
}

nav{
  margin: auto;
}

nav > div > a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 20px;
  transition: 0.3s;
}

nav > div > a:hover{
  text-decoration: none;
  background-color: purple;
  color: white;
}

nav > div > a:active{
  text-decoration: none;
  background-color: rgb(4, 50, 202);
  color: white;
}

#logo{
  border-radius: 50%;
}


#centro{
  color: aliceblue;
  max-width: 1200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/city.webp");
}

h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bloco{
  background-color: var(--color2);
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 10px;
}

.paragrafo{
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

#capas-div > a{
  padding: 5px;
}

#capas-div > a > img{
  border-radius: 20px;
  transition: 0.5s;
  opacity: 0.7;
}

#capas-div > a > img:hover{
  border-radius: 40px;
  transform: scale(1.2);
  opacity: 1;
}

#sobre > li{
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  list-style-image: url('/img/music.png');
  list-style-position: inside;
}

form{
  max-width: 70%;
}
form > p > #confirmar{
  align-items: center;
  width: 100%;
  border: none;
  background-color: purple;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: 0.7s;
}

form > p > #confirmar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(172, 19, 172);
}

form > p > label{
  width: 100%;
}

form > p > input{
  width: 100%;
}

.paragrafo-form{
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

table{
  opacity: 0.8;
}

footer{
  bottom: 0;
  max-height: 10%;
  max-width: 1200px;
  color: white;
  background-color: var(--color1);
}

footer > p{
  text-align: center;
}



